@@include('./_land_inc/_land_head_top.html')

</head>
<body>
    <div class="land-wrap">
        <main class="land-container land-main">
            <section class="sect sect-main">
                <div class="sect-container">
                    <div class="img-bg">
                        <img class="show-pc" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/main_bg.jpg" alt="이미지">
                        <img class="show-mobile" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/main_bg_m.jpg" alt="이미지">
                    </div>
                    <a href="./sub01.html" class="btn-go">
                        <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/btn_check.png" alt="이미지">
                    </a>
                    
                </div>
                
            </section>
        </main>
        <!-- <script>
            // circle
            let bar = new ProgressBar.Circle('.circle-ani', {
                strokeWidth: 8.0,
                easing: 'easeInOut',
                duration: 600,
                color: '#e345ff',
                trailColor: '#fec4ff',
                // trailWidth: 1,
                svgStyle: null
            });
            bar.set(0.0)

            $(".btn-go").on("mouseenter", function(){
                bar.animate(1.0)
            })
            $(".btn-go").on("mouseleave", function(){
                bar.animate(0.0)
            })
            
        </script> -->
    </div>
</body>
</html>