@@include('./_land_inc/_land_head_top.html')

</head>
<body class="body-sub01">
    <div class="land-wrap">
        <main class="land-container land-sub01">
            <section class="sect sect-sub01">
                <div class="sect-container">
                    <div class="img-bg">
                        <img class="show-pc" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/sub01_bg.jpg" alt="이미지">
                        <img class="show-mobile" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/sub01_bg_m.jpg" alt="이미지">
                    </div>
                    <div class="btn-box">
                        <a href="./sub_quote.html" class="btn-go btn-left show-pc">
                            <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/btn_lowest.png" alt="이미지">
                        </a>
                        <a href="./sub_quote.html" class="btn-go btn-right">
                            <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/btn_check.png" alt="이미지">
                        </a>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>