<body bgcolor="#16002d" style="margin:0 auto; position:relative; height:100%;"> 
    <table style="margin:0px; padding:0px; border:0px; width:100%;" height="100%"  align="center"> 
    
    <tr>  
        <td> 
            <a href="http://design.ebiznetworks.co.kr/ysh/mobile06.html">
                <img src="http://design.ebiznetworks.co.kr/ysh/mobile05.jpg" border="0" style="width:100%; ">
            </a>
        
        </td> 
    </tr> 
</table> 

</body>

<!-- - <body bgcolor="#16002d" style="margin:0 auto; position:relative; height:100%;"> 
    <table style="margin:0px; padding:0px; border:0px; width:100%; height="100%"  align="center"> 
    
    <tr>  
    <td> 
    <a href="http://design.ebiznetworks.co.kr/ysh/mobile06.html"><img src="http://design.ebiznetworks.co.kr/ysh/mobile05.jpg" border="0" style="width:100%; "></a><br> 
    
    </td> 
    </tr> 
    </table>  -->