@@include('./_land_inc/_land_head_top.html')

</head>
<body class="body-main">
    <div class="land-wrap">
        <main class="land-container land-main">
            <section class="sect sect-intro">
                <div class="sect-container">
                    <div class="img-bg">
                        <img class="show-pc" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/intro_bg.jpg" alt="배경">
                        <img class="show-mobile" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/intro_bg_m.jpg" alt="배경">
                    </div>
                    <div class="intro-contents">
                        <div class="intro-top-area">
                            <div class="top-left">
                                <div class="logo">
                                    <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/logo.png" alt="로고">
                                </div>
                                <p class="p-txt">
                                    <span>너의 모든 차!</span> <span class="span-mark">올유어카</span>
                                </p>
                            </div>
                            <div class="top-right">
                                <div class="top-ment">
                                    <img class="show-pc" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/top_ment.png" alt="이미지">
                                    <img class="show-mobile" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/top_ment_m.png" alt="이미지">
                                </div>
                                <!-- <p class="p-txt">
                                    <span>장기렌트카 </span>
                                    <span>시크릿 비밀견적</span>
                                </p> -->
                                <a href="#move-write" class="btn-move show-pc btn-move-write">
                                    <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/btn_move_quote.png" alt="타이틀">
                                </a>
                            </div>
                        </div>
                        <div class="title-area">
                            <div class="title-main">
                                <img class="show-pc" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/intro_title.png" alt="이미지">
                                <img class="show-mobile" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/intro_title_m.png" alt="이미지">
                            </div>
                            <div class="period">
                                <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/period.png" alt="이미지">
                            </div>
                        </div>
                    </div>
                     
                </div>
            </section>
            <section class="sect sect-write">
                <div class="sect-container">
                    <div class="title">
                        <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/write_title.png" alt="타이틀">
                    </div>
                    <div class="write-area">
                        <ul class="in-write-ul">
                            <li>
                                <label for="in-name">이름</label>
                                <input type="text" id="in-name" placeholder="이름을 입력해주세요.">
                            </li>
                            <li>
                                <label for="in-phone">휴대폰번호</label>
                                <input type="text" id="in-phone" placeholder="휴대폰을 입력해주세요.">
                            </li>
                            <li>
                                <label for="in-type">관심차종</label>
                                <input type="text" id="in-type" placeholder="원하시는 차종을 입력해주세요.">
                            </li>
                            <li>
                                <label for="in-area">지역</label>
                                <input type="text" id="in-area" placeholder=" 지역을 입력해 주세요.">
                            </li>
                        </ul>
                        <div class="agree-area">
                            <div class="agree-box">
                                <input type="checkbox" id="check-agree" class="check-agree">
                                <label for="check-agree" class="agree-label">개인정보 처리방침</label>
                                <button type="button" class="btn-show-policy">[보기]</button>
                            </div>

                            <div class="policy-area">
                                @@include('./_policy.html')
                            </div>
                        </div>
                        
                        <button type="button" class="btn-quote">
                            <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/btn_quote.png" alt="버튼">
                        </button>
                    </div>
                </div>
            </section>
            <section class="sect sect-footer">
                <div class="sect-container">
                    <p>
                        <span>
                            (주)이비즈네트웍스     대표이사 : 박기범     
                        </span>
                        <span>
                            주소 : 서울특별시 강남구 테헤란로82길 15, 14층(대치동, 디아이타워)
                        </span>
                    </p>
                    <p>전화번호 : 02-6255-3096     팩스번호 : 02-6255-3096     이메일:</p>
                    <p>Copyright allyourcar all rights reserved. </p>
                </div>
            </section>
            <!--사이드-->
            <aside class="side-sect-right">
                <div class="side-area">
                    <a href="#none" class="btn-go-kakao">
                        <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/banner_kakao.png" alt="이미지">
                    </a>
                    <div class="img-car">
                        <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/img_car_right.png" alt="이미지">
                    </div>
                </div>
            </aside>

            <!--사이드-->
            <div class="btn-bottom-sect show-mobile">
                <div class="btn-area">
                    <a href="#none">
                        <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/btn_go_kakao_m.png" alt="이미지">
                    </a>
                    <button type="button" class="btn-move btn-move-write">
                        <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/allyourcar/btn_move_quote_m.png" alt="이미지">
                    </button>
                    
                </div>
            </div>
        </main>
    </div>
    <script>
        $(document).ready(function(){
            //개인정보처리방침 보이기/숨기기
            $(".land-main .btn-show-policy").on("click",function(){
                $(".land-main .policy-area").toggle();
            });

            //클릭 이동
            $(".land-main .btn-move-write").on("click",function(){
                let pos = $(".land-main .sect-write").offset().top - 50;
                console.log(pos);
                window.scrollTo(0,pos);
            });
        });
    </script>
</body>
</html>