@@include('./_land_inc/_land_head_top.html')

</head>
<body class="body-main">
    <div class="land-wrap">
        <main class="land-container land-main">
            <section class="sect sect-intro">
                <div class="sect-container">
                    <div class="intro-area">
                        <div class="img-bg">
                            <img class="show-pc" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/meloncar/intro_bg.jpg" alt="배경">
                            <img class="show-mobile" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/meloncar/intro_bg_m.jpg" alt="배경">
                        </div>
                        <div class="title-area">
                            <div class="part-title-area">
                                <div class="ani-blink">
                                    <img class="show-pc" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/meloncar/txt_pc.png" alt="타이틀 부분">
                                    <img class="show-mobile" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/meloncar/txt_m.png"">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
            <section class="sect sect-write">
                <div class="sect-container">
                    <div class="write-box-bg show-pc">
                        <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/meloncar/write_box_bg.png" alt="박스배경">
                    </div>
                    <div class="write-area">
                        <div class="title-box">
                            <div class="title-main"><img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/meloncar/write_title_main.png" alt="타이틀 메인"></div>
                            <div class="title-sub"><img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/meloncar/write_title_sub.png" alt="타이틀 서브"></div>
                        </div>
                        <div class="write-box">
                            <ul class="in-write-ul">
                                <li>
                                    <label for="in-name">성함</label>
                                    <input type="text" id="in-name" placeholder="홍길동">
                                </li>
                                <li>
                                    <label for="in-phone">휴대폰번호</label>
                                    <input type="text" id="in-phone" placeholder="번호만 입력('-' 제외)">
                                </li>
                                <!-- <li>
                                    <label for="in-area">계신지역</label>
                                    <input type="text" id="in-area" placeholder="서울">
                                </li> -->
                                <li>
                                    <label for="in-type">관심차종</label>
                                    <input type="text" id="in-type" placeholder=" 그랜저">
                                </li>
                            </ul>
                            <button type="button" class="btn-quote">
                                <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/meloncar/btn_quote.png" alt="버튼">
                            </button>
                            <p class="write-notice">
                                안내) 입력정보는 서비스를 위해 일시적으로 확인되며
                                <br>
                                이후 삭제되오니 안심하십시오.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sect sect-footer">
                <div class="sect-container">
                    <p>
                        멜론카 meloncar.kr   서울본사 : 서울시 강남구 테헤란로82길 15, 4층
                    </p>
                    <p>대표이사 : 박기범   개인정보관리책임자 : 이정환   사업자등록번호 : 220-87-30865</p>
                    <p>대표전화 : 010-7123-7103   팩스 : 02) 6937-0689</p>
                    <p class="p-copy-txt">COPYRIGHT © MELONCAR ALL RIGHTS RESERVED. </p>
                </div>
            </section>
            <!--사이드-->
            <aside class="side-sect-right">
                <div class="side-area-banner">
                    <a href="#none" class="btn-go-kakao">
                        <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/meloncar/banner_kakao.png" alt="배너">
                    </a>
                </div>
            </aside>
            <!--모바일용 바텀 버튼-->
            <div class="btn-bottom-sect show-mobile">
                <div class="btn-area">
                    
                    <a href="tel:15881588" class="btn-move btn-move-write">
                        <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/meloncar/btn_tell_m.png" alt="이미지">
                    </a>
                    <a href="#none">
                        <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/meloncar/btn_go_kakao_m.png" alt="이미지">
                    </a>
                    
                </div>
            </div>
        </main>
    </div>
</body>
</html>